<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="evecoalmask">
        <p>Eve silver Mask</p>
        <img src="assets\images\silver mask2.jpg" width="90%" height="400px"> 
    </div>
    <div class="parg">
        <span>Description</span> 
        <p>
        The CC Silver Mask will hydrate your locks while enhancing the color at the same time!
        </p>

        <span>WHY IT WORKS:</span>
        <p>
            Corrects and revives hair color to maintain true-to-tone shades.
            Counteracts brassy tones in blonde, gray and silver hair without causing dryness.
            Deposits small amounts of pigment with each application to maintain color’s vibrancy and brightness.
            Ammonia-free formulas protect the integrity of the hair.
            Nurturing ingredients like shea butter and sweet almond oil pamper over-processed hair and increase softness, smoothness and shine.
        
    </p>
     </div>
</body>
</html>