<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="evecoalmask">
        <p>Eve Coal Mask</p>
        <img src="assets\images\eve coal masck.jpg" width="80%" height="400px"> 
    </div>
    <div class="parg">
        <span>Details: </span>
        <p>
            Eve Hansen's charcoal clay mask facial mask is a safe alternative to charcoal peel off mask.
            Both are great deep pore cleanser but charcoal facial mask clay is gentler on skin. Eve Hansen's shrink pores charcoal clay mask facial mask is a safe alternative to charcoal peel off mask.
            Both are great deep pore cleanser but charcoal facial mask clay is gentler on skin. Activated Charcoal is used as a blackhead remover mask and moisturizing face mask for men and has many 
            great skincare benefits. Natural face mask skin mask has a gentle formula with certified organic and natural ingredients. Charcoal's greatest skin benefit is its ability to be used as a 
            pore minimizer deep pore mask and blackhead mask. Charcoal face mask peel are a great way to shrink pores and brighten skin .
            Pore face mask and exfoliating face mask for a deep cleansing mask look and feel. This is a black face mask in color due to 
            charcoal's natural composition - this is what makes it an effective beauty mask and beauty face masks. Blackhead face mask,
            charcoal blackhead mask, and best charcoal mask to refine pores and clean up complexion. Amazing pore minimizing results with face scrub 
            masking solution. comes in travel size clear glass jar. Hydrating tightening and skin whitening hydration mask for daily use wrinkle 
            fighting and blackhead removal. Apply with fingers or applicator device brush. Buy whole set for relaxing, hydrating, and exfoliation benefits. If skin feels too tight, 
            add a layer of moisturizer cream to lock in a wall of moisture. Mask Skin Care is essential for acne and blemish control treatment. 
            Try our french rose clay mask and turmeric and cranberry seeds claymask facial for added benefits.
        </p>
     </div>
</body>
</html>
