<div class="cont">
<div>
    <span>Who Are We</span>
    <div>
        <img src="assets\images\us.jpg" width="400px" height="560px">
         <p>
            The company was built in the twenty-first century due to the spread of cosmetics 
            so much that it became an essential thing that women cannot do without, and thousands 
            of cosmetics used in all areas of cosmetics and for both sexes spread, and there are
             beauty centers specialized in this field. New techniques and trends for makeup have 
             also spread, such as "contour", which is three-dimensional makeup, the aim of which 
             is to sculpt and illuminate the face so that defects are hidden and the aesthetics of 
             the face are highlighted, by reducing areas and highlighting other areas of the face.
              And the baking technique that depends on the powder, where a dense layer of free 
              powder is placed by a small sponge under the eye, cheekbones, along the nose and on the 
              chin, and the powder should be left on the face for a period ranging from 5 to 20 
              minutes, so that the powder gradually melts with the skin by heat The body, thus 
              increasing its ability to cover, lasts longer and gives the skin a brighter appearance. 
              The term "Make-up Artist", which means a makeup artist, appeared globally, and in turn 
              spread in the Arab world, and many Arab make-up experts appeared through social media 
              programs to cross the borders of the Arab world and gain fame from all over the world. 
         </p>
     </div>
</div>


 </div>