<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets\images\evecreem2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets\images\evemask.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets\images\rosebalm.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets\images\roseshampoo.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets\images\sandingcream.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="cont">
  <div>
      <span>Who Are We</span>
      <div>
          <img  src="assets\images\us.jpg" width="400px" height="560px"style="margin-left: 2%;">
           <p>
              The company was built in the twenty-first century due to the spread of cosmetics 
              so much that it became an essential thing that women cannot do without, and thousands 
              of cosmetics used in all areas of cosmetics and for both sexes spread, and there are
               beauty centers specialized in this field. New techniques and trends for makeup have 
               also spread, such as "contour", which is three-dimensional makeup, the aim of which 
               is to sculpt and illuminate the face so that defects are hidden and the aesthetics of 
               the face are highlighted, by reducing areas and highlighting other areas of the face.
                And the baking technique that depends on the powder, where a dense layer of free 
                powder is placed by a small sponge under the eye, cheekbones, along the nose and on the 
                chin, and the powder should be left on the face for a period ranging from 5 to 20 
                minutes, so that the powder gradually melts with the skin by heat The body, thus 
                increasing its ability to cover, lasts longer and gives the skin a brighter appearance. 
                The term "Make-up Artist", which means a makeup artist, appeared globally, and in turn 
                spread in the Arab world, and many Arab make-up experts appeared through social media 
                programs to cross the borders of the Arab world and gain fame from all over the world. 
           </p>
       </div>
  </div>